<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<h2>Library Management System</h2>

		<div align="left">
			<h3>
				<a th:href="@{'/new'}">Add new</a>
			</h3>
		</div>

		<tr>
			<div class="col-sm-5" align="center">
				<div class="panel-body" align="center">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Book Name</th>
								<th>Author</th>

								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="Library : ${listbook }">
								<td th:text="${Library.id}">ID</td>
								<td th:text="${Library.bookname}">Book Name</td>
								<td th:text="${Library.author}">Author</td>

								<td><a th:href="@{'/edit/' + ${Library.id}}">Edit</a></td>
								<td><a th:href="@{'/delete/' + ${Library.id}}">Delete</a></td>
							</tr>

						</tbody>
					</table>

				</div>

			</div>

		</tr>

		</tbody>
		</table>
		<div>
</body>
</html>