
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create New Product</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center">
		<h1>Create New book</h1>
		<br />
		<div class="col-sm-4">
			<form action="#" th:action="@{/save}" th:object="${library}"
				method="post">
				<div alight="left">
					<tr>
						<label class="form-label">Book Name</label>
						<td><input type="hidden" th:field="*{id}"/> <input
							type="text" th:field="*{bookname}" class="form-control"
							placeholder="Book Name" /></td>
					</tr>
				</div>

				<div alight="left">

					<tr>
						<label class="form-label">Author</label>
						<td><input type="hidden" th:field="*{id}" /> <input
							type="text" th:field="*{author}" class="form-control"
							placeholder="Author" /></td>
					</tr>
				</div>

				<br>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-info">Save</button>
					</td>
				</tr>
				</table>
			</form>
		</div>
</body>
</html>