@(bookForm :Form[Book])

<html>
<head>

<title>Create Book</title>
</head>
<body>
	<h1>create Book</h1>
	
	<d1>
	<dt>
		<label for="id">ID:</label>
	</dt>
	<dd>
		<input type="text" name="id" id="id" value="">
	</dd>
	<dt>
		<label for="title">Title:</label>
	</dt>
	<dd>
		<input type="text" name="title" id="title" value="">
	</dd>
	<dt>
		<label for="author">Author:</label>
	</dt>
	<dd>
		<input type="text" name="author" id="author" value="">
	</dd>
	<dt>
		<label for="price">Price:</label>
	</dt>
	<dd>
		<input type="text" name="price" id="price" value="">
	</dd>
	</d1>
	
	<br><input type="submit" value= "Create Book">



</body>
</html>